
.sousimp ,.sousims{
  color: black;
  text-justify: 10px;
  width:500px;
}
.src , .pub{
  width:600px;
  height:400px;
}
.imageSrc{
  margin-top:50px;
  margin-right:10px;
}
.imagePub{
  margin-left:700px;
  margin-top:-460px;
}
.video{
  text-align: center;
}




